/*::::::BODY::::::*/

* {
  margin: 0;
  padding: 0;
}

html, body{
	font-family: 'Jaldi', sans-serif;
	height: 100%;
}

#wrapper{
	width: 90%;
	max-width: 1298px;
	margin: auto;    
	overflow: hidden;
	min-height: 100%;
  	height: auto !important;
  	height: 100%;
  	margin: 0 auto -2.7em;
}

/*::::::HEADER::::::*/

header {
	width: 100%;
	height: 80px;
	background-color:#ffffff;
	position: fixed;
	z-index: 999;
}

.logo {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 200px;
}

.logo:hover {
	opacity: 0.7;
    filter: alpha(opacity=70); 
}

#header{
	padding-top: 10px;
	margin: auto;
	max-width: 1298px;
	width: 90%;
	position: relative;
}

#box-logo{
	width: 33%;
	margin: auto;
}

#menu1{
	width: 33%;
	position: relative;
	float: left;
	top: 23px;
	}

#menu2{
	width: 33%;
	position: relative;
	bottom:35px;
	float: right;
}

#menu2 ul li a{
	padding-left:0px;
	text-decoration: none;
	color: #9d9c9c;
}

#menu2 ul{
	float: inherit;
}

ul{
 	margin: auto;
 	padding:0;
 	float: left;
}

#menu2 ul li{
	list-style: none;
	float: left;
	font-size: 0.8125em; /* 13px/16px */
	color: #9d9c9c;
}

.nav {
	width:auto; /*Le establecemos un ancho*/
	margin:0 auto; /*Centramos automaticamente*/
			}

			.idioma {
				background-color: #c7c7c7;
				border-radius: 2px;
				padding: 0px 5px 0px 5px;
				color: #ffffff;
			}

			.nav ul li a {
				color:#9d9c9c;
			}
 
			.nav > li {
				float:left;
				list-style: none;
				font-size: 0.6875em; /*11px/16px*/
			}
			
			.nav li a {
				text-decoration:none;
				display:block;
				position: relative;
			}
			
			.nav li ul a:hover {
				color: #C64142;
			}
			
			.nav li ul {
				display:none;
				margin: auto;
				padding: 5px 5px 5px 0px;
				width: 0px;
			}
			
			.nav li ul li {
				list-style: none;
			}

			.nav li:hover > ul {
				display:block;
			}


/* ((hover-effect: Brackets in menu2)) */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 0px 0px;
	margin-left: 10px;
	outline: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav a:hover,
nav a:focus {
	outline: none;
} 

.cl-effect-4 a {
	padding: 0 0 0px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 93%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #C64142;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/*::::::CONTENT::::::*/

.section {
	width: 100%;
	margin-top: 90px;
	overflow: hidden;
	margin-bottom: 2.7em;
}

.postd {
	position: relative;
	margin-top: 15px;
}

.postd h1{
	font-size: 1.125em; /*18px/16px*/
	font-weight: lighter;
	text-align: center;
	color:black;
}

.title1 :before{
	content: "";
	display: block;
	border-top: solid 1px #9d9c9c;
	width: 100%;
	position: absolute !important;
	top: 16px !important;
	z-index: -1;
}

.title1 span {
	padding-left: 13px;
	padding-right: 13px;
	background-color: #ffffff;
}

.posti{
	position: relative;
	clear: both;
	padding-top: 15px;
}

.posti h1{
		font-size: 1.125em; /*18px/16px*/
		font-weight: lighter;
		text-align: center;
		color:black;
}

.title2 :before{
		content: "";
		display: block;
		border-top: solid 1px #9d9c9c;
		width: 100%;
		position: absolute;
		top:30px;
		z-index: -1;
}

.title2 span {
	padding-left: 13px;
	padding-right: 13px;
	background-color: #ffffff;
}
 
.gallery1 {
	margin-top: 15px;
}

.gallery2 {
	margin-top: 15px;
}

.content-inside {
	margin: auto;
	margin-right:-0.3081664098613251%;
  	}

 a.showLink {
 	font-size: 1em; /*16px/16px*/
 }

/*((hover-effect in the posts of Desing))*/

.grid {
	margin: 0 auto;
	list-style: none;
}

.grid li {
	width: 24.69183359013867%;
	float: left;
	margin-right: 0.3081664098613251%;
	margin-bottom: 0.3081664098613251%;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	border-bottom: solid 1px #9d9c9c;
}

.grid figcaption p {
	text-transform: uppercase;
	line-height: 1.2em;
	font-size: 1em; /*19px/16px*/
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #000;
	text-align: center;
}

.grid figcaption span{
	color: #9d9c9c;
	font-weight: 400;
	font-size: 1em; /*16px/16px*/
	text-align: center;
}

/*hover-effect-style*/

.cs-style-3 figure {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}


.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 30.674846625767%;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

figure .mask-effect{
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

figure .mask-effect {
   opacity: 0;
   overflow: visible;
   background-color: rgba(0,0,0,0.4);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.no-touch .cs-style-3 figure:hover .mask-effect, 
.cs-style-3 figure.cs-hover .mask-effect{
   opacity: 1;
   background-color: rgba(0,0,0,0.4);
}

figcaption a{
	display: block;
	padding-top: 4px;
	text-decoration: none;
}

.box-icon-outer2{
	position: absolute;
    top: 0;
    left: 0;
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.box-icon-inside {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.box-icon-outer{
  	position: absolute;
	top: 0;
	left: 0;
	display: table;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 75%;
}

.mobile:before {
  font-family: FontAwesome;
  content: "\f25a";
  color: white; 
  font-size: 50px;
}

a.mobile {
  display: block;
  text-decoration: none;
}

a.mobile {
   display: inline-block;
   text-decoration: none;
   opacity: 0;
   -webkit-transition: opacity 0.6s 0s ease-in-out;
   -moz-transition: opacity 0.6s 0s ease-in-out;
   -o-transition: opacity 0.6s 0s ease-in-out;
   -ms-transition: opacity 0.6s 0s ease-in-out;
   transition: opacity 0.6s 0s ease-in-out;
}

.no-touch .cs-style-3 figure:hover a.mobile,
.cs-style-3 figure.cs-hover a.mobile {
  opacity:1;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/*((markup "show more"))*/

.more {
      display: none; }

.showLink, .hideLink {
 	  background-color: black;
 	  width: auto;
 	  padding-left: 10px;
 	  padding-right: 12px;
 	  text-decoration: none;
 	  color: white;
 	  font-size: thin;
 	  float: right;
}

 
/*(posts)*/

.post img{
	margin-top: 25px;
	width: 100%;
}

.post p {
	margin-top: 15px;
	line-height: 1.3em;
}

.post a {
	text-decoration: none;
	color: rgba(204, 0, 0, 0.81);
}

.post div{
	margin-top: 10px;
	line-height: 1.2em;
	color: #9d9c9c;
}

a.back {
	background-color: black;
 	width: auto;
 	padding-left: 10px;
 	padding-right: 10px;
 	text-decoration: none;
 	color: white;
 	font-size: thin;
 	float: right;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  padding-right: 10px;
}

.share-buttons a{
	text-decoration: none;
}

.fa-facebook-square{
	color:#3b5998;
}

.fa-twitter-square{
	color:#00aced;
}

.fa-google-plus-square{
	color:#dd4b39;
}

.fa-tumblr-square{
	color:#32506d;
}

.fa-pinterest-square{
	color:#cb2027;
}

.fa-linkedin-square{
	color:#007bb5;
}

.button p {
    text-align: center;
}

.button2 {
	color: white!important;
	padding: 7px 10px;
	background: rgba(204, 0, 0, 0.81);
	border-radius: 4px;
	text-decoration: none;
}

/*(servicios)*/

.bloque {
	width: 100%;
	margin-bottom: 30px;
}

.servicios {
	width: 33.33333333333333%;
	float: left;
}

.servicios img {
	width: 100%;
}

.center {
	width: 50%;
	margin: auto
}

.servicios h3 {
	text-align: center;
	clear: both;
	font-size: 24px;
}

.servicios p {
	text-align: center;
	margin-left: 40px;
	margin-right: 40px; 
	line-height: 1.3em;
	color: #676666;
	font-size: 18.4px;
	font-weight: 400;
	clear: both;
} 

.prox img, .prox h3,.prox p {
	color: rgba(103, 102, 102, 0.47);
}

.block {
	width: 100%;
	height: 5px;
	clear: both;
}

.block2 {
	display: none;
}

/*(bio)*/

.bio a {
	text-decoration: none;
	color: #9c9d9d;
}

.bio a:hover {
	color: rgba(204, 0, 0, 0.81);
}

.column p {
    margin-bottom: -13px;
}

.column {
	border-top: solid 1.5px rgb(150, 149, 149);
	margin-top:20px;
	margin-bottom: 25px;
	padding-top: 19px;
	font-size: 18.5px;
	line-height: 1.5em;
	column-gap: 50px;
	-webkit-column-gap: 50px; 
    -moz-column-gap: 50px; 
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /*Firefox*/
    column-count: 2;
}

.capital-letter{
	float: left;
    color: black;
    background: white;
    font-size: 63px;
    line-height: 54px;
    padding: -6px;
    margin-right: 6px;
    font-weight: 700;
}

.img-div {
	width: 25%;
	margin: auto;
	margin-top: 20px;
}

.img-div img {
	width: 100%;
}

.bio-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.4em;
}

.bio-title:first-line{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
}

/*(contacto)*/

form {
	width: 70%;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 90px;
}


fieldset {
	border: solid 1px black;
}

fieldset li {
	list-style: none;
	display: inline-block;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
}

.half {
	width: 50%;
	display: inline-block;
    float: left;
}

label {
	float: left;
	color: 
}

li span {
	color: #ff3333;
}

input {
	width: 100%;
	height: 40px;
}

input[type='text'], textarea {
	border: 1px solid #cbd0d4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #696969;
    font: 16px/22px "Jaldi", Helvetica, Arial, Helvetica, sans-serif;
}

input:focus, textarea:focus{
    outline: none;
    box-shadow: 0px 0px 5px #ff3333;
    border-color: #ff3333;
}

.submit {
	background-color: black;
	width: 100px;
	border: 1px solid #cbd0d4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 17px;
}

legend {
	text-align: center;
	padding: 0px 7px 0px 7px;
}

textarea {
	width: 100%;
	height: 200px;
}

form p {
	display: inline-block;
	float: right;
	margin-top: 6px;
}


/*::::::FOOTER::::::*/

 .inside{
 	width: 90%;
	max-width: 1298px;
	margin: auto;
	overflow: hidden;
	border-top: solid 1px #9d9c9c;
 }

footer {
	width: 100%;
	display:block;
}

footer, .push {
	height: 2.7em;
}

footer div{
	text-align: center;
}

footer p{
	float: left;
	color:#9d9c9c;
	font-size: 0.875em; /*14px/16px*/
}

#list-icon a{
	text-decoration: none;
	float: right;
	font-size: 0.85em; /*12px/16px*/
}

#list-icon-mob {
	display: none;
}


/* Icon Fade */

.hvr-icon-fade {
  color: #9d9c9c;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-icon-fade.b {
  position: relative;
  padding-left: 30px;
}

.hvr-icon-fade.t {
  position: relative;
  padding-left: 20px;
}

.hvr-icon-fade.i {
  position: relative;
  padding-left: 26px;
}

.hvr-icon-fade.l {
  position: relative;
  padding-left: 30px;
}

.b:before {
  content: "\f1b4";
  position: absolute;
  right: 47px;
  top: 5px;
  font-family: FontAwesome;
  font-size: 1em; /*14px/16px*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.t:before {
  content: "\F173";
  position: absolute;
  right: 45px;
  top: 5px;
  font-family: FontAwesome;
  font-size: 1em; /*14px/16px*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.i:before {
  content: "\F16D";
  position: absolute;
  right: 61px;
  top: 5px;
  font-family: FontAwesome;
  font-size: 1em; /*14px/16px*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.l:before {
  content: "\f0e1";
  position: absolute;
  right: 53px;
  top: 3px;
  font-family: FontAwesome;
  font-size: 1em; /*14px/16px*/
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

.hvr-icon-fade:hover:before, .hvr-icon-fade:focus:before, .hvr-icon-fade:active:before {
  color: #C64142;
}
/*------------------------*/

#list-icon {
	float:right;
	margin: auto;
	width: 49%;
	padding-top: 10px;
}

.box {
	width: 49%;
	float: left;
}

.box p{
	padding-top: 10px;
}
